<div class="interface">
  <ul class="home display">
    <li class="display__item">
      <a href="#" class="display__link">
        <img src="http://via.placeholder.com/150x150/373750" alt="Фото экрана" class="display__photo">
        <p class="display__text">Интерактивный экран</p>
      </a>
    </li>

    <li class="display__item">
      <a href="#" class="display__link">
        <img src="http://via.placeholder.com/150x150/373750" alt="Фото экрана" class="display__photo">
        <p class="display__text">Демонстрационный экран</p>
      </a>
    </li>
  </ul>

</div>
