<div class="interface">

  <ul class="home display">
    
    <li class="display__item">
      <a href="/" class="display__link">
        <img src="/assets/imgs/interactive-screen.png" alt="Фото экрана" class="display__photo" width="250" height="250">
        <p class="display__text">Интерактивный экран</p>
      </a>
    </li>

    <li class="display__item">
      <a href="/presentation" class="display__link">
        <img src="/assets/imgs/presentation-screen.png" alt="Фото экрана" class="display__photo" width="250" height="250">
        <p class="display__text">Презентационный экран</p>
      </a>
    </li>

    <li class="display__item">
      <a href="/moderate" class="display__link">
        <img src="/assets/imgs/moderate-screen.png" alt="Фото экрана" class="display__photo" width="250" height="250">
        <p class="display__text">Экран модерации</p>
      </a>
    </li>

  </ul>

</div>
