<div class="interface">
  <div class="login">
    <form class="block" action="login/" method="POST">

      <div class="login__group">
        <input id="login" type="text" class="login__input" name="username" required>
        <label for="login" class="login__label">Логин</label>
      </div>

      <div class="login__group">
        <input id="password" type="password" class="login__input" name="password" required>
        <label for="password" class="login__label">Пароль</label>
      </div>

      <input class="btn block__btn login__submit" type="submit" value="Вход" />
    </form>

    <p class="login__message">Пройдите аутентификацию для доступа к клиентской части приложения.</p>

    {{#if error }}
    <p class="login__message">
      <span>Ошибка!</span>
      {{ error }}
    </p>
    {{/if}}

  </div>

</div>
