<div class="interface presentation">
  <ul id="carousel" class="carousel">
    <li id="carousel-current" class="carousel__item">

    </li>
    <li id="carousel-next" class="carousel__item">

    </li>
  </ul>
</div>
