@import './fonts.scss';
@import './variables.scss';

body {
  box-sizing: border-box;

  & * {
    box-sizing: border-box;
  }
}

.interface {
  position: relative;
  z-index: 0;

  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 25px 15px;

  display: flex;
  flex-flow:row;
  background: $main-color-light linear-gradient(135deg, $main-color-light 0%, $main-color-dark 100%) no-repeat;

  &--scroll {
    max-width: 100%;
    overflow-y: auto;
    height: auto;
    min-height: 100vh;
  }

  @media print {
    background-color: transparent;

    & .dashboard {
      display: none;
    }
  }

  &__item {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.btn {
  display: inline-block;

  min-width: 125px;
  padding: 7px 25px;

  color: $text-color-dimed;
  border: none;
  background-color: rgba($main-color-light, .5);

  font-family: $font-roboto;
  font-size: $md-fz;
  border: 1px solid rgba(lighten($main-color-light, 70%), .15);
  box-shadow: 0 3px 10px -3px rgba($main-color-dark, .7);
  transition: all .1s ease-in;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgba($main-color-light, .8);
    border: 1px solid rgba(lighten($main-color-light, 70%), .3);
  }

  &:active {
    background-color: rgba($main-color-light, .8);
    border: 1px solid rgba($hg-color, .6);
    color: $hg-color;
    box-shadow: 0 0 10px -3px rgba($main-color-dark, .7);
  }
}

@import './block/block.scss';
@import './block/popup.scss';
@import './block/display.scss';
@import './block/gallery.scss';
@import './block/printing.scss';


@import 'pages/login/base.scss';
@import 'pages/index/base.scss';
@import 'pages/home/base.scss';
@import 'pages/moderate/base.scss';
@import 'pages/presentation/base.scss';
