.block {
  $br : 2px;

  position: relative;

  width: 100%;
  padding: 25px 50px;

  font-family: $font-roboto;
  font-size: $sm-fz;
  color: $text-color;
  border-radius: $br;
  background: $semi-color-light linear-gradient(90deg, $semi-color-light 30%, $semi-color-dark 130%);
  border: 1px solid rgba(lighten($semi-color-light, 70%), .10);

  &__heading {
    font-family: $font-os;
    font-size: $lg-fz;
  }

  &__btn {
    margin-top: 20px;
  }

}
