.printing {
  position: relative;
  height: calc(100% - 50px);
  background-color: white;
  width: 100%;
  padding: 15px 15px;

  & img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;

    @media print {
      display: inherit;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
    }
  }
}
