.login {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  text-align: center;

  & .block {
    width: 350px;
    margin: auto;
  }

  &__submit {
    width: 100%;
    text-transform: uppercase;
    margin-top: 35px;

  }

  &__group {
    width: 100%;
    display: block;
    position: relative;

    &:not(:first-of-type) {
      margin-top: 25px;
    }
  }

  &__label {
    position: absolute;

    width: 100%;
    display: block;
    top: 50%;
    left: 0;
    line-height: 1;
    text-transform: uppercase;
    font-family: $font-roboto;

    transform: translateY(-50%);
    text-align: left;
    padding-left: 15px;
    color: $main-color-dark;
    transition: all .1s ease-in;
    cursor: pointer;

    .login__input:valid ~ & {
      font-size: $xs-fz;
      top: -16px;
      transform: none;
      color: $main-color-dark;
    }

    .login__input:focus ~ & {
      font-size: $xs-fz;
      top: -16px;
      transform: none;
      color: $hg-color;
    }
  }

  &__input {
    width: 100%;
    padding: 5px 15px;
    border-radius: 2px;
    border: 2px solid $main-color-dark;
    background-color: lighten($main-color-light, 55%);
    color: $main-color-dark;

    &:focus {
      color: $hg-color;
      border-color: $hg-color;
    }
  }

  &__message {
    margin-top: 40px;
    font-size: $sm-fz;
    font-family: $font-roboto;
    color: $text-color-dimed;

    & span {
      color: $text-color;
      font-weight: 600;
    }
  }
}
