body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  body * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.frame {
  position: relative;
  width: 100%;
  height: 100%;
  border: 4px solid #1f233c;
  border-top-width: 24px;
  border-top-color: #131320;
  border-bottom-width: 20px;
  -o-border-image: linear-gradient(-90deg, #1f233c 0%, #131320 100%) 25 25 round;
     border-image: -webkit-gradient(linear, right top, left top, from(#1f233c), to(#131320)) 25 25 round;
     border-image: linear-gradient(-90deg, #1f233c 0%, #131320 100%) 25 25 round;
  background: white -webkit-gradient(linear, left top, right top, from(#f0f0f0), to(#e1e1e1));
  background: white linear-gradient(90deg, #f0f0f0 0%, #e1e1e1 100%);
  -webkit-box-shadow: inset 0 0 8px 5px white;
          box-shadow: inset 0 0 8px 5px white; }
  .frame:before {
    position: absolute;
    top: -24px;
    left: -4px;
    display: block;
    width: calc(100% + 6px);
    height: calc(100% + 42px);
    content: '';
    border: 1px solid rgba(67, 120, 235, 0.3);
    -webkit-box-shadow: 0 0 10px 2px rgba(67, 120, 235, 0.1);
            box-shadow: 0 0 10px 2px rgba(67, 120, 235, 0.1); }

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  min-width: 80px;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }
  .dashboard__item {
    position: relative;
    text-align: center; }
    .dashboard__item:not(:first-of-type) {
      margin-top: 30px; }
  .dashboard__btn {
    z-index: 0;
    padding: 32px 0 10px;
    color: white;
    border: none;
    background-color: transparent;
    font-size: 16px; }
    .dashboard__btn:active:not(:disabled) {
      color: #4378eb; }
      .dashboard__btn:active:not(:disabled) ~ .dashboard__icon {
        fill: #4378eb; }
    .dashboard__btn:disabled {
      color: #b0b1b8; }
      .dashboard__btn:disabled ~ .dashboard__icon {
        fill: #b0b1b8; }
  .dashboard__icon {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    width: 30px;
    height: 30px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    fill: white; }

.interface {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 25px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  background: #1f233c linear-gradient(135deg, #1f233c 0%, #131320 100%); }
  .interface__item {
    margin-left: 10px;
    margin-right: 10px; }
