@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("/assets/fonts/OpenSans-Regular.ttf") format("ttf"); }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  body * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.interface {
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 25px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  background: #1f233c linear-gradient(135deg, #1f233c 0%, #131320 100%) no-repeat; }
  .interface--scroll {
    max-width: 100%;
    overflow-y: auto;
    height: auto;
    min-height: 100vh; }
  @media print {
    .interface {
      background-color: transparent; }
      .interface .dashboard {
        display: none; } }
  .interface__item {
    margin-left: 10px;
    margin-right: 10px; }

.btn {
  display: inline-block;
  min-width: 125px;
  padding: 7px 25px;
  color: #b0b1b8;
  border: none;
  background-color: rgba(31, 35, 60, 0.5);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  border: 1px solid rgba(214, 217, 234, 0.15);
  -webkit-box-shadow: 0 3px 10px -3px rgba(19, 19, 32, 0.7);
          box-shadow: 0 3px 10px -3px rgba(19, 19, 32, 0.7);
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    background-color: rgba(31, 35, 60, 0.8);
    border: 1px solid rgba(214, 217, 234, 0.3); }
  .btn:active {
    background-color: rgba(31, 35, 60, 0.8);
    border: 1px solid rgba(67, 120, 235, 0.6);
    color: #4378eb;
    -webkit-box-shadow: 0 0 10px -3px rgba(19, 19, 32, 0.7);
            box-shadow: 0 0 10px -3px rgba(19, 19, 32, 0.7); }

.block {
  position: relative;
  width: 100%;
  padding: 25px 50px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  color: white;
  border-radius: 2px;
  background: #373750 -webkit-gradient(linear, left top, right top, color-stop(30%, #373750), color-stop(130%, #1e1e2d));
  background: #373750 linear-gradient(90deg, #373750 30%, #1e1e2d 130%);
  border: 1px solid rgba(244, 244, 248, 0.1); }
  .block__heading {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 21px; }
  .block__btn {
    margin-top: 20px; }

.popup {
  position: absolute;
  width: 450px;
  text-align: center;
  -webkit-box-shadow: 0px 7px 10px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 7px 10px -5px rgba(0, 0, 0, 0.5); }

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }
  .display__item {
    min-width: 150px;
    max-width: 300px;
    height: auto;
    min-height: 150px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center; }
  .display__photo {
    position: relative;
    border: 2px solid #373750;
    border-radius: 2px;
    -webkit-box-shadow: 0px 3px 10px -5px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 3px 10px -5px rgba(0, 0, 0, 0.5);
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top left;
       object-position: top left; }
    .display__link:hover .display__photo {
      border-color: rgba(67, 120, 235, 0.7); }
    .display__link:active .display__photo {
      border-color: #4378eb; }
  .display__text {
    text-transform: uppercase;
    color: white;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px; }
    .display__link:hover .display__text {
      color: rgba(67, 120, 235, 0.7); }
    .display__link:active .display__text {
      color: #4378eb; }
  .display__link {
    display: block;
    text-decoration: none; }

.gallery {
  text-align: center;
  width: 80%;
  margin: auto;
  min-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0;
  list-style: none; }
  .gallery__item {
    width: 30%;
    max-width: 500px;
    padding: 10px 15px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid #373750;
    background-color: #131320; }
    .gallery__item:nth-of-type(n + 4) {
      margin-top: 30px; }
  .gallery__img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    width: 100%;
    height: auto; }
  .gallery__text {
    width: 100%;
    display: block;
    text-align: center;
    color: white;
    font-family: "Roboto", "Arial", sans-serif; }
  .gallery__btn {
    margin-top: 15px;
    text-decoration: none; }

.printing {
  position: relative;
  height: calc(100% - 50px);
  background-color: white;
  width: 100%;
  padding: 15px 15px; }
  .printing img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%; }
    @media print {
      .printing img {
        display: inherit;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 100%;
        height: auto; } }

.login {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: auto;
  text-align: center; }
  .login .block {
    width: 350px;
    margin: auto; }
  .login__submit {
    width: 100%;
    text-transform: uppercase;
    margin-top: 35px; }
  .login__group {
    width: 100%;
    display: block;
    position: relative; }
    .login__group:not(:first-of-type) {
      margin-top: 25px; }
  .login__label {
    position: absolute;
    width: 100%;
    display: block;
    top: 50%;
    left: 0;
    line-height: 1;
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: left;
    padding-left: 15px;
    color: #131320;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    cursor: pointer; }
    .login__input:valid ~ .login__label {
      font-size: 14px;
      top: -16px;
      -webkit-transform: none;
              transform: none;
      color: #131320; }
    .login__input:focus ~ .login__label {
      font-size: 14px;
      top: -16px;
      -webkit-transform: none;
              transform: none;
      color: #4378eb; }
  .login__input {
    width: 100%;
    padding: 5px 15px;
    border-radius: 2px;
    border: 2px solid #131320;
    background-color: #a4aad0;
    color: #131320; }
    .login__input:focus {
      color: #4378eb;
      border-color: #4378eb; }
  .login__message {
    margin-top: 40px;
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #b0b1b8; }
    .login__message span {
      color: white;
      font-weight: 600; }

.frame {
  position: relative;
  width: 100%;
  height: 100%;
  border: 4px solid #1f233c;
  border-top-width: 24px;
  border-top-color: #131320;
  border-bottom-width: 20px;
  -o-border-image: linear-gradient(-90deg, #1f233c 0%, #131320 100%) 25 25 round;
     border-image: -webkit-gradient(linear, right top, left top, from(#1f233c), to(#131320)) 25 25 round;
     border-image: linear-gradient(-90deg, #1f233c 0%, #131320 100%) 25 25 round;
  background: white -webkit-gradient(linear, left top, right top, from(#f0f0f0), to(#e1e1e1));
  background: white linear-gradient(90deg, #f0f0f0 0%, #e1e1e1 100%);
  -webkit-box-shadow: inset 0 0 8px 5px white;
          box-shadow: inset 0 0 8px 5px white; }
  .frame:before {
    position: absolute;
    top: -24px;
    left: -4px;
    display: block;
    width: calc(100% + 6px);
    height: calc(100% + 42px);
    content: '';
    border: 1px solid rgba(67, 120, 235, 0.3);
    -webkit-box-shadow: 0 0 10px 2px rgba(67, 120, 235, 0.1);
            box-shadow: 0 0 10px 2px rgba(67, 120, 235, 0.1); }
  .frame__curtain {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: radial-gradient(circle farthest-corner at 30% 70%, rgba(76, 76, 128, 0.9), rgba(31, 35, 60, 0.9));
    width: 0;
    height: 100%; }
    .frame__curtain.shown {
      width: 100%; }
  .frame__popup {
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -25%);
            transform: translate(-50%, -25%);
    z-index: 2;
    opacity: 0; }
    .frame__popup.shown {
      opacity: 1; }

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100px;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }
  .dashboard__item {
    position: relative;
    text-align: center; }
    .dashboard__item:not(:first-of-type) {
      margin-top: 30px; }
  .dashboard__btn {
    z-index: 0;
    padding: 32px 0 10px;
    color: white;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-family: "Roboto", "Arial", sans-serif;
    text-decoration: underline;
    cursor: pointer; }
    .dashboard__btn:focus {
      outline: none; }
    .dashboard__btn:active:not(:disabled) {
      color: #4378eb; }
      .dashboard__btn:active:not(:disabled) ~ .dashboard__icon {
        fill: #4378eb; }
    .dashboard__btn:disabled {
      color: #b0b1b8; }
      .dashboard__btn:disabled ~ .dashboard__icon {
        fill: #b0b1b8; }
  .dashboard__icon {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    width: 30px;
    height: 30px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    fill: white; }

.home.display {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: auto; }

.moderate.interface {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.moderate .dashboard {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  height: auto;
  padding-bottom: 25px;
  margin-bottom: 30px; }
  .moderate .dashboard__item:nth-of-type(n) {
    margin-top: 0;
    margin-right: 25px; }
  .moderate .dashboard__btn {
    padding-top: 0; }

.presentation {
  padding-right: 0;
  padding-left: 0; }

.carousel {
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative; }
  .carousel__item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }

@-webkit-keyframes slide-from-right {
  from {
    left: 100%; }
  to {
    left: 0; } }

@keyframes slide-from-right {
  from {
    left: 100%; }
  to {
    left: 0; } }

@-webkit-keyframes slide-to-left {
  from {
    left: 0; }
  to {
    left: -100%; } }

@keyframes slide-to-left {
  from {
    left: 0; }
  to {
    left: -100%; } }
  .carousel #carousel-current {
    left: 0; }
    .carousel #carousel-current.animate {
      -webkit-animation-name: slide-to-left;
              animation-name: slide-to-left;
      -webkit-animation-duration: 2s;
              animation-duration: 2s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
  .carousel #carousel-next {
    left: 100%; }
    .carousel #carousel-next.animate {
      -webkit-animation-name: slide-from-right;
              animation-name: slide-from-right;
      -webkit-animation-duration: 2s;
              animation-duration: 2s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
